In [1]:
a = 4

b = 3

In [120]:
a+b

4

In [121]:
type(a+b)

int

# List and its default functions

In [3]:
lst = ['kiran', 22, 'Delhi', 'smart']

In [4]:
lst

['kiran', 22, 'Delhi', 'smart']

In [5]:
lst[0]

'kiran'

In [6]:
lst[3]

'smart'

In [7]:
lst.append("Honest")

In [8]:
lst

['kiran', 22, 'Delhi', 'smart', 'Honest']

In [9]:
lst = ['kiran', 22, 'Delhi', 'smart']
print ('list before clear:', lst)

lst.clear()
print ('list after clear:',lst)

list before clear: ['kiran', 22, 'Delhi', 'smart']
list after clear: []

In [10]:
lst

[]

In [11]:
lst= ['kiran', 22, 'Delhi', 'smart']

In [12]:
lst

['kiran', 22, 'Delhi', 'smart']

In [13]:
set1 = lst.copy()

In [14]:
set1

['kiran', 22, 'Delhi', 'smart']

In [15]:
lst

['kiran', 22, 'Delhi', 'smart']

In [16]:
lst.count(22)

1

In [17]:
lst.index('Delhi')

2

In [18]:
lst[-2]

'Delhi'

In [19]:
lst.insert(-0, "cool")

In [20]:
lst

['cool', 'kiran', 22, 'Delhi', 'smart']

In [21]:
lst

['cool', 'kiran', 22, 'Delhi', 'smart']

In [22]:
lst.remove('smart')

In [23]:
lst

['cool', 'kiran', 22, 'Delhi']

In [24]:
lst.reverse()

In [25]:
lst

['Delhi', 22, 'kiran', 'cool']

In [26]:
age =lst.pop(1)

In [27]:
lst

['Delhi', 'kiran', 'cool']

In [28]:
lst = ['smart', 'Honest', 'cool', 'Delhi', 22, 'kiran']

In [29]:
lst

['smart', 'Honest', 'cool', 'Delhi', 22, 'kiran']

In [30]:
lst.reverse()

In [31]:
lst

['kiran', 22, 'Delhi', 'cool', 'Honest', 'smart']

# DICT - Dictionaries

In [32]:
dit= {"name":"Kritika", "age":"23",
       "number":"123456","City":"Patiala"}

In [33]:
dit

{'name': 'Kritika', 'age': '23', 'number': '123456', 'City': 'Patiala'}

In [34]:
dit.get("age")

'23'

In [35]:
dit.clear()

In [36]:
dit

{}

In [37]:
dit= {"name":"Kritika", "age":"23",
       "number":"123456","City":"Patiala"}

In [38]:
dit

{'name': 'Kritika', 'age': '23', 'number': '123456', 'City': 'Patiala'}

In [39]:
Biodata = dit.copy()

In [40]:
Biodata

{'name': 'Kritika', 'age': '23', 'number': '123456', 'City': 'Patiala'}

In [41]:
Biodata.get('City')

'Patiala'

In [42]:
dit

{'name': 'Kritika', 'age': '23', 'number': '123456', 'City': 'Patiala'}

In [43]:
dit['State']="Punjab"

In [44]:
dit

{'name': 'Kritika',
 'age': '23',
 'number': '123456',
 'City': 'Patiala',
 'State': 'Punjab'}

In [45]:
dit.items()

dict_items([('name', 'Kritika'), ('age', '23'), ('number', '123456'), ('City', 'Patiala'), ('State', 'Punjab')])

In [46]:
dit.keys()

dict_keys(['name', 'age', 'number', 'City', 'State'])

In [47]:
dit

{'name': 'Kritika',
 'age': '23',
 'number': '123456',
 'City': 'Patiala',
 'State': 'Punjab'}

In [48]:
dit['name']="Kritika"

In [49]:
dit

{'name': 'Kritika',
 'age': '23',
 'number': '123456',
 'City': 'Patiala',
 'State': 'Punjab'}

In [50]:
dit.pop("name")

'Kritika'

In [51]:
dit

{'age': '23', 'number': '123456', 'City': 'Patiala', 'State': 'Punjab'}

In [52]:
dit.pop("City")


print("Important:", dit)

Important: {'age': '23', 'number': '123456', 'State': 'Punjab'}

In [53]:
dit

{'age': '23', 'number': '123456', 'State': 'Punjab'}

In [54]:
dit={"name":"Kritika", "age":"23",
       "number":"123456","City":"Patiala"}

In [55]:
dit

{'name': 'Kritika', 'age': '23', 'number': '123456', 'City': 'Patiala'}

In [56]:
type(dit)

dict

# Sets and its fuctions

In [57]:
st = {"rohit","gargi","@",1,2,3}

In [58]:
st

{1, 2, 3, '@', 'gargi', 'rohit'}

In [59]:
st2 ={'@'}

In [60]:
st2.issubset(st)

True

In [61]:
st.union(st2)

{1, 2, 3, '@', 'gargi', 'rohit'}

In [62]:
st3={5,98}

In [63]:
st.union(st3)

{1, 2, 3, 5, 98, '@', 'gargi', 'rohit'}

In [64]:
st4={1,'h'}

In [65]:
st4

{1, 'h'}

In [66]:
st4.isdisjoint(st)

False

In [67]:
st2.intersection(st)

{'@'}

In [68]:
st = {"rohit","gargi","@",1,2,3}

In [69]:
st.issubset(st4)

False

In [104]:
st2.append("#")

In [105]:
st2

['#', '#']

# Tuple and its function

In [84]:
t=("apple",12345, 54321, 'hello!')

In [85]:
tup

('apple', 12345, 54321, 'hello!')

In [86]:
tup[3]

'hello!'

In [89]:
u=t,(1, 2, 3, 4, 5)

In [90]:
u

(('apple', 12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [97]:
t.count(12345)

1

In [99]:
u.count("apple")

0

In [101]:
u.count(54321)

0

In [102]:
u

(('apple', 12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [103]:
u.count((1, 2, 3, 4, 5))

1

In [106]:
t.index(54321)

2

# Bolean and its function

In [111]:
xyz=True

dfy=False

In [118]:
a=xyz+dfy

print("a:",a)

a: 1

# Strings ad its functions

In [129]:
my_string ='Hello'
print(my_string)

my_string ="hello"
print(my_string)

my_string ='''hello'''
print(my_string)

my_string ="""hello world"""
print(my_string)

Hello
hello
hello
hello world

In [124]:
my_string = 'Hello'
print(my_string)

my_string = "Hello"
print(my_string)

my_string = '''Hello'''
print(my_string)


my_string = """Hello, welcome to
           the world of Python"""
print(my_string)

Hello
Hello
Hello
Hello, welcome to
           the world of Python

In [166]:
str="Python"

print("str:", str)

print("str[1]:",str[1])

print("str[-3]:",str[-3])

print("str[2:-2]:",str[2:-2])

str: Python
str[1]: y
str[-3]: h
str[2:-2]: th

In [142]:
str.upper()

'PYTHON'

In [146]:
str.center(2)

'Python'

In [148]:
str.count(str[3])

1

In [149]:
str

'Python'

In [153]:
str="Python"
str1="Progamming"

print("str+str1:",str+str1)

print("str1*4:",str*4)

str+str1: PythonProgamming
str1*4: PythonPythonPythonPython

In [164]:
str.lower()

'python'

In [172]:
str="I want to learn Python"

In [173]:
str.split()

['I', 'want', 'to', 'learn', 'Python']

In [184]:
str.find('th')

18

In [192]:
str="happy Birthday "

In [193]:
str.replace("happy","Best")

'Best Birthday '

In [198]:
print("hey {0}, your bank balance is {1}".format("Adam", 122349))

hey Adam, your bank balance is 122349